{% extends 'webapp/base.html' %}

{% block content %}
    <!--FOR LOOP for all seasons in show-->
    {% for season in seasons %}
        <div class="col-xs-4">
            <table id="seasontable">
                <tr id="seasontable">
                    <td id="seasontable">
            <a href="{% url 'season' season.sid %}"><img class="img-responsive" id="xlogo" src="{{ season.s_url }}" alt=""></a>
                    </td>
                </tr>
                <tr id="seasontable">
                    <td id="seasontable">
            <a href="{% url 'season' season.sid %}"><p style="text-align: center;">{{ season.seasonname }}</p></a>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endblock %}
