{% extends 'webapp/base.html' %}
{% block content %}
<table>
    <tr>
        <td colspan=3 class="tblheader"><h1>{{ player.firstname }} {{ player.lastname }}</h1></td>
    </tr>
    <tr>
        <td rowspan=4>INSERT IMAGE HERE</td>
        <td>Hometown: {{ player.city }}, {{ player.state }}</td>
        <td>Birthdate: {{ player.birthdate }}</td>
    </tr>
    <tr>
        <td>Occupation: {{ player.occupation }}</td>
        <td>{% for season in seasons %}<a href="{% url 'season' season.sid %}">{{ season.seasonname }}</a> <br>{% endfor %}</td>
    </tr>
</table>
{% endblock %}