{% extends 'webapp/base.html' %}
{% block content %}
    <div class="container">
        <div class="col-md-6">
        <p>Season Name: {{ season.seasonname }}</p>
        <p>Location: {{ season.location }}</p>
        </div>
        <div class="col-md-6">
    <p>Film Dates: {{ season.fsd }} -- {{ season.fed }}</p>
    <p>Air Dates: {{ season.asd }} -- {{ season.aed }}</p>
        </div></div>
    <hr>
    <h1 style="text-align: center; font-family:'Allerta'"><u>Contestants</u></h1>
    {% for player in players %}
        <!--update src to just player.p_url once links are grabbed-->
        <div class="col-md-3">
            <a href="{% url 'player' player.pid %}">
                <img class="img-responsive" src="{{ player.p_url}}" alt="">
                <p style="text-align: center;">{{ player.firstname }} {{ player.lastname }}</p>
            </a>
        </div>
    {% endfor %}
{% endblock %}