{% extends 'webapp/base.html' %}
{% block content %}
    <div class="container">
        <div class="col-md-6">
        <p>Season Name: {{ season.seasonname }}</p>
        <p>Location: {{ season.location }}</p>
        </div>
        <div class="col-md-6">
    <p>Film Dates: {{ season.fsd }} -- {{ season.fed }}</p>
    <p>Air Dates: {{ season.asd }} -- {{ season.aed }}</p>
        </div></div>
    <hr>
    <p>Sort: <a href="" class="alpha">Alphabetical</a> | <a href="" class="finish">Finishing Position</a></p>
    {% for player in players %}
        <!--update src to just player.p_url once links are grabbed-->
    <div class="people">
        <div class="col-xs-3" data-name="{{ player.lastname }}" data-id="{{ player.pid }}">
            <a href="{% url 'player' player.pid %}">
                <img class="img-responsive" src="{{ player.p_url}}" alt="">
                <p style="text-align: center;">{{ player.firstname }} {{ player.lastname }} <!--{% for x in Pxs %} {{ x.finishposition }} {% endfor %} WHAT IS WRONG HERE???--></p></a>
        </div>
    </div>
    {% endfor %}
{% endblock %}