{% extends 'webapp/base.html' %}
{% block content %}
    <div class="container">
        <div class="col-md-6">
        <p>Season Name: {{ season.seasonname }}</p>
        <p>Location: {{ season.location }}</p>
        </div>
        <div class="col-md-6">
    <p>Film Dates: {{ season.fsd }} -- {{ season.fed }}</p>
    <p>Air Dates: {{ season.asd }} -- {{ season.aed }}</p>
        </div></div>
    <hr>
    <p>Sort: <a href="#" class="alpha">Alphabetical</a> | <a href="#" class="finish">Finishing Position</a></p>
        <!--update src to just player.p_url once links are grabbed-->
    <div class="people">
        {% for player in season.pxs_set.all %}
        <div class="col-xs-3" data-name="{{ player.pid.lastname }}" data-id={{ player.finishposition }}>
            <a href="{% url 'player' player.pid.pid %}">
                <img class="img-responsive" src="{{ player.pid.p_url}}" alt="">
                <p style="text-align: center;">{{ player.pid.firstname }} {{ player.pid.lastname }}</p></a>
        </div>
        {% endfor %}
    </div>
{% endblock %}