h1 a {
    color: #D5D6D2;
    font-family: 'Squada One';
}

p {
    font-family: 'Allerta';
}

.page-header {
    background-color: #756867;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

/* https://designschool.canva.com/blog/100-color-combinations #78 */