h1 a {
    color: #e2e8e4;
    font-family: 'Squada One';
}

h1 a:hover {
    color: #6eb5c0;
    text-decoration: none;
}

p, tr {
    font-family: 'Allerta';
}

.tblheader {
    font-family: 'Squada One';
    text-align: center;
}

table, th, tr, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    height: 1px;
    margin: 0px auto;
    padding: 10px;
    
}

.page-header {
    background-color: #006c84;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-footer {
    color: #e2e8e4;
    background-color: #6EB5C0;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
}

.panel {
	background: #ffffff;
    background-size:90% 90%;
	display:none;
    font-family:'Allerta';
}

.togglespoilers {
    text-align: center;
	font-family:'Allerta';
	color:#e2e8e4;
    background:#006c84;


}
/* https://designschool.canva.com/blog/100-color-combinations #70 */