h1 a {
    color: #e2e8e4;
    font-family: 'Squada One';
}

h1 a:hover {
    color: #6eb5c0;
}

p {
    font-family: 'Allerta';
}

.page-header {
    background-color: #006c84;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

/* https://designschool.canva.com/blog/100-color-combinations #70 */